dash_html_components
dash
dash_core_components
dash-renderer
pylint
pytest
pytest-cov
click
jupyter
nbval
pandas
pyyaml
numpy
bokeh
jupyterlab

pillow>=6.2.3 # not directly required, pinned by Snyk to avoid a vulnerability